.handler{
    background-color: #E4DDCE;
    color: #0e0e10;
    border: 5px solid #E4DDCE;
    box-shadow: 3px 3px 8px 8px #888888;
    border-radius: 10%;
    margin: 2rem ;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    font-size: 1.6em;

    button{
        margin:0 10px;
        border: 5em;
        cursor: pointer;
        outline: none;
        font-size: 16px;
        -webkit-transform: translate(0);
        transform: translate(0);
        background-image: linear-gradient(45deg, #4568dc, #D1A7D2);
        padding: 0.7em 2em;
        border-radius: 65px;
        box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
        -webkit-transition: box-shadow 0.25s;
        transition: box-shadow 0.25s;
        color: white;
            &text {
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(45deg, #4568dc, #D1A7D2);
            }
        &::after{
            content: "";
                border-radius: 18px;
                position: absolute;
                margin: 4px;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: -1;
                background: #0e0e10;
            }
        
    }
}

button:hover{
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}   

button:hover .text{
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}